[submodule "RotorBladeNREL"]
	path = RotorBladeNREL
	url = https://github.com/e-dub/RotorBladeNREL
[submodule "RobotArm.gid"]
	path = RobotArm.gid
	url = https://github.com/e-dub/RobotArm.gid
[submodule "SawBladeToothless.gid"]
	path = SawBladeToothless.gid
	url = https://github.com/PhiHo-eng/SawBladeToothless.gid
[submodule "SawBlade.gid"]
	path = SawBlade.gid
	url = https://github.com/PhiHo-eng/SawBlade.gid
[submodule "KratosSimplePythonModels"]
	path = KratosSimplePythonModels
	url = https://github.com/e-dub/KratosSimplePythonModels
[submodule "Violin.gid"]
	path = Violin.gid
	url = https://github.com/e-dub/Violin.gid
